$color_primary: #02C9C0;
$color_primary_2: #F1F1F1;
$color_black: #000;
$color_white: #fff;
$color_gray:#F5F5F5;
$color_graylight:#F1F1F1;
$color_danger:#F04438;
$color_warning:#FF8A59;
 $color_gray_dark:#6E7887;